div.footer {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  margin-bottom: 0;
}
div.footer .heading {
  font-weight: 900;
  color: #000000;
}

div.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

div.content a {
  color: #181717;
  text-decoration: none;
}
div.content h4 {
  font-size: x-large;
}

footer {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
