html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
}
footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
footer > div > div {
  padding: 25px 100px;
}

div.link-boxes,
div.top {
  background-color: #0d0b91;
  color: #ffffff;
}
div.link-boxes,
div.top {
  background-color: #0d0b91;
  color: #ffffff;
}

footer > div.content .top {
  margin-bottom: 1px;
  font-size: 28px;
  display: flex;
}

footer > div.content .top .media-icons {
  position: absolute;
  right: 100px;
}
footer > div.content .top .media-icons > a {
  padding: 0px 6px;
  color: #fff;
}

footer > div.content .link-boxes {
  display: flex;
  justify-content: space-between;
}
footer > div.content > div.link-boxes > ul {
  padding: 0;
  list-style: none;
}
footer > div.content > div.link-boxes > ul li {
  padding: 3px 0px;
}
footer > div.content > div.link-boxes > ul li > a {
  color: #ffffff;
  text-decoration: none;
}
li.link_name {
  position: relative;
  font-size: 28px;
  margin-bottom: 10px;
}

li.link_name:before {
  position: absolute;
  height: 2px;
  width: 45px;
  left: 0;
  bottom: 3px;
  background: #fff;
  display: block;
  content: "";
}

input {
  width: 190px;
  padding: 12px;
  border: 2px solid #b3b1b1;
  border-radius: 8px;
}
input[type="text"] {
  background: transparent;
}
input[type="button"] {
  color: #0d0b91;
  font-weight: 900;
  width: 100%;
}
div.bottom-details {
  position: relative;
  background: #160174;
  color: #aaa8a8;
}
div.bottom-details .bottom_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #160174;
  color: #aaa8a8;
}
div.bottom-details a {
  color: #aaa8a8;
  padding: 0px 12px 0 0;
  text-decoration: none;
}
